<% layout("/layout/boilerplate") %>

<body>
  <form
    action="/listings/<%= list._id %>/edit?_method=PATCH"
    class="row g-3 needs-validation"
    method="post"
    autocomplete="on"
    novalidate
    enctype="multipart/form-data"
  >
    <h3>Edit List</h3>
    <div class="col-12">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        value="<%= list.title %>"
        required
      />
      <div class="invalid-feedback">Title is Required</div>
    </div>
    <div class="col-12">
      <label for="desc" class="form-label">Description</label>
      <textarea
        name="description"
        id="desc"
        minlength="15"
        maxlength="100"
        class="form-control auto-resize textarea-wrapper"
        required
      >
<%= list.description %></textarea
      >
      <div class="invalid-feedback">Description is Required</div>
    </div>

    <div class="mb-3">
      Original listing Image <br/><br/>
      <img src="<%= originalImgUrl %>" alt="listing img" />
    </div>
    <div class="col-md-6">
      <label for="img" class="form-label">Upload New Image</label>
      <input
        type="file"
        class="form-control"
        id="img"
        name="image"
      />
    </div>
    <div class="col-md-6">
      <label for="price" class="form-label">Price</label>
      <input
        type="number"
        class="form-control"
        value="<%= list.price %>"
        name="price"
        required
      />
      <div class="invalid-feedback">Price should be a Number</div>
    </div>
    <div class="col-md-6">
      <label for="country" class="form-label">Country</label>
      <input
        type="text"
        class="form-control"
        id="country"
        name="country"
        value="<%= list.country %>"
        required
      />
      <div class="invalid-feedback">Please Enter a valid Country</div>
    </div>
    <div class="col-md-6">
      <label for="location" class="form-label">City</label>
      <input
        type="text"
        class="form-control"
        id="location"
        name="location"
        value="<%= list.location %>"
        required
      />
      <div class="invalid-feedback">Please Enter a valid Location</div>
    </div>

    <br /><br />
    <div class="col-12">
      <button type="submit" class="btn btn-warning">Edit</button>
    </div>
  </form>
</body>
