<% layout("/layout/boilerplate") %>

<body>
  
  <div class="show-card" style="width: 18rem">
    <h3><%= list.title %></h3>
    <img src="<%= list.image.url %>" class="card-img-top" alt="<%= list.title %>" />
    <div class="show-card-body">
      <p class="show-card-text">
        created by <i><%= list.owner.username %></i><br />
        <%= list.description %> <br />
        &#8377; <%= list.price.toLocaleString("en-IN") %> / night <br />
        <%= list.location %><br />
        <%= list.country %>
      </p>
      <% if(currentUser && currentUser._id.equals(list.owner._id)){ %>
        <div class="btns">
          <a style="color:black;text-decoration: none;" href="/listings/<%= list._id %>/edit"><button class="btn btn-warning">Edit</button></a><br /><br />
        <form
          method="post"
          action="/listings/<%= list._id %>/delete?_method=DELETE"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
        </div>
        
      <% } %>
    </div>
  </div>

  

  <!-- Review Form -->
  <div class="review-form-container">
    <hr>
    <% if(currentUser) { %>
    <h4 style="text-align: center;">Leave A Review</h4>
    <form action="/listings/<%= list.id %>/reviews" method="post" class="review-form needs-validation" novalidate>
      
      
      <div class="mb-3">
        <label for="rating" class="form-label">Rating : </label>
      <fieldset class="starability-slot">
        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
        <input name="rating" type="radio" id="first-rate1" name="rating" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input name="rating" type="radio" id="first-rate2" name="rating" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input name="rating" type="radio" id="first-rate3" name="rating" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input name="rating" type="radio" id="first-rate4" name="rating" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input name="rating" type="radio" id="first-rate5" name="rating" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
    </div>

      <div class="mb-3">
        <label for="review" class="form-label">Review</label>
        <textarea name="review" id="review" class="form-control " rows="6" cols="10" title="Provide your related views on this place" placeholder="Share your experience in Brief" required></textarea>
        <div class="invalid-feedback">Comment field is required</div>
      </div>
    
        <button type="submit" class="btn btn-outline-dark">Submit</button>
    
    
    </form>
    <br><br>
    <!-- adding reviews -->
    <hr />
    

    <% } %>
    <% if(!list.reviews.length) { %>
      <h4>No Reviews Yet</h4>
    <% } else { %>
    <h4 style="text-align: center;">All Reviews</h4>
    <div class="reviews mt-3" style="display: flex;">
      <% list.reviews.map((review)=>{ %>
        <div class="card review-card mb-3 mt-3 ms-4">
          <div class="card-body">
            <h5 class="card-title"> @<i><%= review.author.username %></i></h5>
            <span> <p class="starability-result" data-rating=<%= review.rating %>>
              Rated: 3 stars
            </p></span>
            <div class="card-text" style="display: flex; justify-content: space-between;align-items: flex-end;">
              <p class="card-text"><%= review.comment %></p>
              <span>
                <form style="display: inline;" method="post" action="/listings/<%= list._id %>/reviews/<%= review._id %>?_method=DELETE" >
                  <% if(currentUser && currentUser._id.equals(review.author._id)){ %>
                    <button class="btn btn-sm btn-dark">Delete</button>
                  <% } %>
                </form>
              </span>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
    <% } %>
  </div>
</body>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
      const ratingInput = document.getElementById('rating');
      const ratingValue = document.getElementById('rating-value');

      ratingValue.textContent = ratingInput.value;
      ratingInput.addEventListener('input', function() {
          ratingValue.textContent = ratingInput.value;
      });
  });
</script>


