<% layout("/layout/boilerplate") %>

<body>
  
  <div class="show-card" style="width: 18rem">
    <h3><%= list.title %></h3>
    <img src="<%= list.image %>" class="card-img-top" alt="<%= list.title %>" />
    <div class="show-card-body">
      <p class="show-card-text">
        <%= list.description %> <br />
        &#8377; <%= list.price.toLocaleString("en-IN") %> / night <br />
        <%= list.location %><br />
        <%= list.country %>
      </p>
      <div class="btns">
        <a style="color:black;text-decoration: none;" href="/listings/<%= list._id %>/edit"><button class="btn btn-warning">Edit</button></a><br /><br />
      <form
        method="post"
        action="/listings/<%= list._id %>/delete?_method=DELETE"
      >
        <button class="btn btn-danger">Delete</button>
      </form>
      </div>
    </div>
  </div>

  

  <!-- Review Form -->
  <div class="review-form-container">
    <hr>
    <h4 style="text-align: center;">Leave A Review</h4>
    <form action="/listings/<%= list.id %>/reviews" method="post" class="review-form needs-validation" novalidate>
      <div class="mb-3">
        <label for="rating" class="form-label">Rating : </label>
        <input type="range" min="1" max="5" name="rating" id="rating" class="form-range">
        <div id="rating-value" class="rating-value">3</div>
      </div>
      <div class="mb-3">
        <label for="review" class="form-label">Review</label>
        <textarea name="review" id="review" class="form-control " rows="6" cols="10" title="Provide your related views on this place" required></textarea>
        <div class="invalid-feedback">Comment field is required</div>
      </div>
      <button type="submit" class="btn btn-outline-dark">Submit</button>
    </form>
    <br><br>
    <!-- adding reviews -->
    <hr />
    <% if(!list.reviews.length) { %>
      <h4>No Reviews Yet</h4>
    <% } else { %>
    <h4 style="text-align: center;">All Reviews</h4>
    <div class="reviews mt-3" style="display: flex;">
      <% list.reviews.map((review)=>{ %>
        <div class="card review-card mb-3 mt-3 ms-4">
          <div class="card-body">
            <h5 class="card-title"> @ Username</h5>
            <p class="card-text"><%= review.comment %></p>
            <div class="card-text" style="display: flex; justify-content: space-between;">
              <span><%= review.rating %> stars</span>
              <span>
                <form style="display: inline;" method="post" action="/listings/<%= list._id %>/reviews/<%= review._id %>?_method=DELETE" >
                  <button class="btn btn-sm btn-dark">Delete</button>
                </form>
              </span>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
    <% } %>
  </div>
</body>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
      const ratingInput = document.getElementById('rating');
      const ratingValue = document.getElementById('rating-value');

      ratingValue.textContent = ratingInput.value;
      ratingInput.addEventListener('input', function() {
          ratingValue.textContent = ratingInput.value;
      });
  });
</script>


